{% extends 'base.html.twig' %}

{% block title %}Bien index{% endblock %}

{% block body %}
    <div class="div-center">
        {% include '_partials/search_form.html.twig' %}
    </div>
    <div class="biensContainer index">
        {% for bien in biens %}
            <div class="bien">
                <a href="{{ path("bien_show", {"id": bien.id}) }}">
                    <div class="thumbnail-container"
                         style="background-image: url('{{ asset('assets/uploaded_images/' ~ bien.images[0]) }}');">

                    </div>
                </a>
                <a href="{{ path("bien_show", {"id": bien.id}) }}">
                    <h2>{{ bien.ville }} {{ bien.codePostal }} - {{ bien.surface }}m²</h2>
                </a>
                <h3>{{ bien.prix }}€</h3>
                <p>{{ bien.description | easyadmin_truncate(150) | raw }}</p>
                <div class="div-right">
                    <a href="" class="btn btn-carre btn-bleu">Favoris</a>
                    <a href="{{ path("bien_show", {"id": bien.id}) }}" class="btn btn-carre btn-rouge">Plus d'infos</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
