{% extends 'base.html.twig' %}

{% block title %}{{ bien.titre }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/splide-1.2.5/dist/css/splide.min.css') }}">
{% endblock %}
{% block body %}
    <div class="bien-single">
        <div class="top-container">
            <div class="img-container splide" id="image-slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        {% for image in bien.images %}
                            <li class="splide__slide">
                                <img src="{{ asset('assets/uploaded_images/') ~ image }}" alt="">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="info-container" style="background-image: url('{{ asset('assets/img/map-grayscale.svg') }}')">
                <div class="pictos">
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-map-marker-alt"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                </div>
                <h1 class="">{{ bien.titre }}</h1>
                <h2 class="">{{ bien.nombreDePieces }} pièce{% if bien.nombreDePieces > 1 %}s{% endif %}
                    - {{ bien.surface }}m²</h2>
                <p class="ville">{{ bien.ville }}</p>
                <p class="prix">{{ bien.prix }} € / mois</p>
                <div class="btn-container">
                    <a href="mailto:{{ bien.author.email }}" target="_blank" class="btn btn-pill btn-noir">Contacter le propriétaire</a>
                    <a href="{{ path('bien_favoris', {'id': bien.id}) }}" class="btn btn-pill btn-bleu js-favoris">
                        {% if app.user and bien.isLikedByUser(app.user) %}
                            <i class="fas fa-heart"></i>
                        {% else %}
                            <i class="far fa-heart"></i>

                        {% endif %}
                        <span class="js-favoris-num">{{ bien.likedby | length }}</span>
                        <span class="js-label">Favoris</span>

                    </a>
                </div>
            </div>
        </div>
        <div class="description">
            <div class="">
                <h2>Description du bien</h2>
                <p>
                    {{ bien.description | nl2br | raw }}
                </p>
            </div>
        </div>

        <div class="details">
            {% if bien.cheminee %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/cheminee.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Cheminée</span>
                </div>
            {% endif %}
            {% if bien.belleVue %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/belle-vue.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Belle Vue</span>
                </div>
            {% endif %}
            {% if bien.balcon %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/balcon.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Balcon</span>
                </div>
            {% endif %}
            {% if bien.piscine %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/piscine.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Piscine</span>
                </div>
            {% endif %}
            {% if bien.ascenseur %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/ascenseur.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Ascenseur</span>
                </div>
            {% endif %}
            {% if bien.terrasse %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/terrasse.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Terrasse</span>
                </div>
            {% endif %}
            {% if bien.cave %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/cave.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Cave</span>
                </div>
            {% endif %}
            {% if bien.parking %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/parking.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Parking</span>
                </div>
            {% endif %}
            {% if bien.accesHandicape %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/handicap.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Accessible PMR</span>
                </div>
            {% endif %}
            {% if bien.baignoire %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/baignoire.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Baignoire</span>
                </div>
            {% endif %}
            {% if bien.cuisineSeparee %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/cuisineseparee.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Cuisine séparée</span>
                </div>
            {% endif %}
            {% if bien.meuble %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/meuble.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Meublé</span>
                </div>
            {% else %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/meuble.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Non-Meublé</span>
                </div>
            {% endif %}
            {% if bien.colocation %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/colocation.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>Colocation</span>
                </div>
            {% endif %}
            {% if bien.wcSepares %}
                <div class="detail-container">
                    <div class="picto-container">
                        <img src="{{ asset('assets/img/wcsepares.svg') }}" alt="" class="img-fluid">
                    </div>
                    <span>WC séparés</span>
                </div>
            {% endif %}
        </div>
        <div class="map-container">
            <div class="" id="map" style="width:100%; height:400px; display: none"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Initialize and add the map
        function initMap() {

            var apiKey = "AIzaSyA6jy16mTR7Gb9ctCCYelY35TZ__gTHsTA";
            var address = "{{ bien.numeroRue }} {{ bien.rue }}{% if bien.rueComplement is not null %} {{ bien.rueComplement }}{% endif %} {{ bien.codePostal }} {{ bien.ville }}";
            address = address.split(' ');
            address = address.join('+');
            var url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + encodeURI(escape(address)) + "&key=" + apiKey;
            axios.get(url)
                .then(function (response) {
                    // handle success
                    var lat = response.data.results[0].geometry.location.lat;
                    var lng = response.data.results[0].geometry.location.lng;
                    // The location of the appartement
                    var appartement = {lat: lat, lng: lng};
                    // The map, centered at the appartement
                    document.getElementById('map').style.display = "block";
                    var map = new google.maps.Map(
                        document.getElementById('map'), {zoom: 13, center: appartement});
                    // The marker, positioned at the appartement
                    var marker = new google.maps.Marker({position: appartement, map: map});
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .finally(function () {
                    // always executed
                });

        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6jy16mTR7Gb9ctCCYelY35TZ__gTHsTA&callback=initMap">
    </script>
    <script src="{{ asset('assets/splide-1.2.5/dist/js/splide.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Splide('#image-slider', {
                'cover': true,
                'heightRatio': 0.6,
                'type': 'loop'
            }).mount();
        });
    </script>

    <script src="{{ asset('assets/js/favoris.js') }}" type="text/javascript"></script>



{% endblock %}

